{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 52.3769091109999,
    "longitude": 4.896898119902229,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "de"
  }
}